.loader-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#img {
    animation: rotateX 2s linear infinite alternate;
    height: 80px;
    width: 90px;
  }
  
  @keyframes rotateX {
    0% { transform: rotateY(0deg); }
    60% { transform: rotateY(360deg); }
  }