._home {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  z-index: 0;
}

/* landing page */

.landingpage {
  width: 100%;
  position: relative;
  background-color: #fff;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #fff;
    bottom: -5px;
  }

  & img {
    width: 100%;
    background-color: #fff;

  }

  & .title_container {
    position: absolute;
    top: 50%;
  }

  /* margin-top: 5rem; */
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

._title_ {
  color: #000;
  /* text-shadow: -15px 58px 16.8px rgba(0, 0, 0, 0.54); */
  font-family: sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 6px;
  text-transform: capitalize;

  @media (min-width: 768px) {
    font-size: clamp(1.5rem, 7vw, 5.625rem);
  }

  margin-bottom: 0;

  & span {
    font-weight: normal;
    text-transform: lowercase;

    @media (min-width: 768px) {
      font-size: clamp(1rem, 7vw, 4rem);
    }
  }
}

._title_small_ {
  color: #000;
  font-family: "Coda Caption", sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 6px;
  display: flex;
  align-items: end;

  & small {
    margin-right: .75rem;

    @media (max-width: 767px) {
      font-size: 1.2rem;
      font-weight: 900;
    }

    @media (min-width: 768px) {
      font-size: 3rem;
    }
  }

  line-height: 20px;
}

.special_span {
  background: linear-gradient(to right, #07D25F, #028139);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: clamp(1.5rem, 7vw, 3.5rem);
  margin-bottom: -.3rem;

  @media (max-width: 767px) {
    margin-bottom: -.2rem;
  }

  @media (min-width: 768px) {
    margin-bottom: -.3rem;
  }
}

.half-title-clr {
  color: var(--primary-clr-neutral);
}

.lp-para {
  font-size: clamp(1.125rem, 2.5vw, 1.5rem);
  color: var(--primary-clr-light);
}

@media (min-width: 768px) {
  .lp-alignment {
    display: flex;
    gap: 1em;
    flex-direction: column;
  }
}

.lp-alignment {
  & img {
    @media (min-width: 768px) {
      max-width: 250px;
      margin-left: -5px;
    }

    @media (max-width: 767px) {
      width: 50%;
    }
  }

  & h1,
  & span {
    @media (max-width: 767px) {
      line-height: 1.3;
    }

    @media (min-width: 768px) {
      line-height: 1.2;
    }
  }


  @media (min-width: 576px) and (max-width: 768px) {
    & h1 {
      font-size: 3rem;
    }

    & span {
      font-size: 1.5rem;
    }
  }


  @media (min-width: 425px) and (max-width: 575px) {
    & h1 {
      font-size: 2.7rem;
    }

    & span {
      font-size: 1.3rem;
    }
  }

  @media (max-width: 424px) {
    & h1 {
      font-size: 2rem;
    }

    & span {
      font-size: 1rem;
    }
  }

}

.layer {
  /* background: linear-gradient(
      360deg,
      #0d0d0d 0.72%,
      rgba(13, 13, 13, 0.72) 30%,
      rgba(13, 13, 13, 0) 45.41%
    ),
    linear-gradient(
      88deg,
      #0d0d0d 14.72%,
      rgba(13, 13, 13, 0.72) 30%,
      rgba(13, 13, 13, 0) 45.41%
    ); */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cards_layer {
  background-image: linear-gradient(180deg,
      #0d0d0d 100%,
      rgba(13, 13, 13, 0.72) 30%,
      rgba(255, 255, 255, 0.6) 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.search_layer {
  background: rgba(32, 33, 32, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  background: url("../../assets/homepage_mats/city-flat.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper_ctr {
  width: 1440px;
  display: flex;
  justify-content: flex-start;
}

._home_content {
  color: white;
  z-index: 3;
  display: flex;
  align-items: flex-start;
  padding: 1% 2%;
  flex-direction: column;
}

._home_text h1 {
  color: #fff;
  text-align: center;
  text-shadow: -15px 58px 16.8px rgba(0, 0, 0, 0.54);
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: 115.014px;
  /* 119.806% */
  letter-spacing: 9.6px;
  text-transform: capitalize;
}

._home_text span {
  font-size: 36px;
}

._home_img {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

._home_img img {
  width: 50%;
  object-fit: cover;
}

.price {
  width: max-content;
  height: 100%;
  background: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.price input {
  display: none;
}

.price_range {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #1a1b1a;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  /* 106.667% */
  letter-spacing: 2.55px;
  text-transform: uppercase;
  padding: 2%;
}

._counter {
  /* position: relative; */
  /* width: 40%; */
  /* height: 100%; */
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  z-index: 2;
  /* display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; */
  /* gap: 1rem; */
  color: #1a1b1a;
  /* font-size: 15px; */
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  /* 106.667% */
  letter-spacing: 2.55px;
  text-transform: uppercase;
  text-align: center;
}

._counter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: -5px -5px 30px 0px rgba(17, 115, 206, 0.15);
  pointer-events: none;
}

._counter_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: #1a1b1a;

  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  /* 61.538% */
  letter-spacing: 2.86px;
  text-transform: uppercase;
}

._counter_btns button {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(105, 119, 111, 0.1);
  padding: 5px;
  color: #028139;
  font-size: 25px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
}

._filter {
  /* width: 13%; */
  height: 92px;
  border-radius: 50px;
  box-shadow: 0px 16px 31.9px 0px rgba(17, 115, 206, 0.15);
  background: var(--Linear,
      linear-gradient(315deg, #07d25f 20.24%, #028139 80.97%));
  z-index: 3;
  padding: 10px;
  /* position: absolute; */
  left: 63.5%;
  /* Adjust the left property to overlap _counter */
  z-index: 3;
  /* Set z-index higher to overlap with _counter */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #fff;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  /* 80% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  cursor: pointer;
}

._cards_container {
  /* height: 100%; */
  /* background-image: url(../../assets/Mask_group2.png); */
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .title {
    @media (min-width: 1200px) {
      font-size: clamp(1.5rem, 3.5vw, 4rem);
    }

    @media (min-width: 768px) and (max-width: 1200px) {
      font-size: clamp(1rem, 3.5vw, 4.5rem);
    }

    @media (min-width: 576px) and (max-width: 768px) {
      font-size: clamp(1.3rem, 4.2vw, 5.2rem);
    }

    @media (max-width: 576px) {
      font-size: clamp(1rem, 5vw, 5rem);
    }

    font-weight: 800;
    margin-top: 59px;
    color: #000;
  }
}

.card_ctr {

  /* width: 1440px; */
  /* height: 500px; */
  /* @media (min-width: 1920px) {
    width: 75%;
  }

  @media (min-width: 1400px) and (max-width: 1919px) {
    width: 85%;
  }

  @media (min-width: 1200px) and (max-width: 1399px) {
    width: 95%;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    width: 80%;
  }

  @media (min-width: 850px) and (max-width: 991px) {
    width: 90%;
  }

  @media (min-width: 768px) and (max-width: 849px) {
    width: 95%;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    width: 72%;
  }

  @media (min-width: 425px) and (max-width: 575px) {
    width: 75%;
    padding: 0 !important;
  }

  @media (max-width: 424px) {
    width: 95%;
    padding: 0 !important;
  } */

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  /* Allow items to wrap to the next line */
  justify-content: start;
  align-items: flex-start;
  /* Align items to the top of the container */
  position: relative;
  /* gap: 2rem; */
  padding: 2rem 0;
}

@media (min-width: 1400px) {
  .container {
    width: 1440px !important;
    margin: 0;
  }
}

._search_container {
  /* height: 100%; */
  width: 100vw;
  background: url("../../assets/homepage_mats/Group_42.jpg");
  background: #1a1b1a;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 6% 5%;
}

.search_ctr {
  max-width: 1440px;
  display: flex;
  /* Allow items to wrap to the next line */
  /* Align items to the top of the container */
  position: relative;
  align-items: center;
  justify-content: center;
}

.img_ctr {
  @media (min-width: 1400px) {
    width: 40%;
  }

  @media (max-width: 1400px) {
    width: 50%;
  }

  height: 100%;
  position: relative;
  /* animation: float 2s ease-in-out infinite; */
}

._floating_img {
  @media (min-width: 1400px) {
    width: 80%;
  }

  @media (max-width: 1400px) {
    width: 90%;
  }

  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  z-index: 3;
  background: linear-gradient(360deg, #028139 0%, rgba(16, 24, 42, 0) 30%),
  url("../../assets/homepage_mats/stylish-scandinavian-living-room-with-design-mint-sofa-furnitures-mock-up-poster-map-plants-eleg.png") 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 50px;
  box-shadow: 0px 51px 38.5px 0px rgba(0, 0, 0, 0.25);
}

.floating_boxes {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.guy_box {
  width: 100%;
  height: auto;
  background-color: white;
  padding: clamp(10px, 1vw, 15px);
  display: flex;
  align-items: center;
  gap: clamp(1rem, 2vw, 2rem);
  border-radius: 100px;
  box-shadow: 0px 51px 38.5px 0px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.girl_box {
  width: auto;
  height: auto;
  background-color: white;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  gap: clamp(1rem, 2vw, 2rem);
  border-radius: 100px;
  box-shadow: 0px 51px 38.5px 0px rgba(0, 0, 0, 0.25);
}

.guy_box img,
.girl_box img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.guy_box p,
.girl_box p {
  color: #252f44;

  font-size: clamp(10px, 1vw, 13px);
  font-style: normal;
  font-weight: 700;
  line-height: 20.024px;
  /* 125.149% */
  text-transform: capitalize;
}

.search_content {
  @media (min-width: 1400px) {
    width: 60%;
  }

  @media (min-width: 768px) and (max-width: 1400px) {
    width: 50%;
  }

  @media (max-width: 767px) {
    width: 100%;
  }

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

._content {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search_title {
  padding: 20px 20px 0 0;
  background-position: left;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: contain;
  width: fit-content;
  margin: 0 auto;
}

.search_title h1 {
  color: #fff;
  text-wrap: nowrap;
  text-overflow: ellipsis;

  @media (min-width: 1200px) {
    font-size: clamp(1.5rem, 3.5vw, 4rem);
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    font-size: clamp(1rem, 3.5vw, 4.5rem);
  }

  @media (min-width: 576px) and (max-width: 768px) {
    font-size: clamp(1.3rem, 4.2vw, 5.2rem);
  }

  @media (max-width: 576px) {
    font-size: clamp(1rem, 5vw, 5rem);
  }

  font-style: normal;
  font-weight: 700;
  line-height: 121.147px;
  /* 137.194% */
  text-transform: capitalize;
}

.search_title>h1>span {
  color: #24BD66;

  /* font-size: clamp(1.5rem, 4vw, 5.625rem); */
  font-style: normal;
  font-weight: 700;
  line-height: 121.147px;
  text-transform: capitalize;
}

.search_description {
  padding: 0px 20px 20px 35px;
  width: 100%;
}

.search_description p {
  color: rgb(255, 255, 255);


  @media (min-width: 1200px) {
    font-size: clamp(13px, 1vw, 2rem);
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    font-size: clamp(10px, 0.8vw, 1.5rem);
  }

  @media (min-width: 576px) and (max-width: 768px) {
    font-size: clamp(12px, 0.9vw, 1.5rem);
  }

  @media (max-width: 576px) {
    font-size: clamp(10px, 0.9vw, 1.5rem);
  }

  font-style: normal;
  font-weight: 300;
  line-height: 30.524px;
  /* 162.095% */
  text-transform: capitalize;
  text-align: start;
}

.search_boxes {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

._box {
  width: 30%;

  /* height: 150px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  border-radius: 40px;
  /* padding: 20px; */
  padding: 30px 20px 40px;

  & .icon {
    width: clamp(40px, 1vw, 78px);
    height: clamp(40px, 1vw, 78px);
    position: relative;

    & svg {
      position: absolute;

      left: -43%;

      width: 150%;
      height: 150%;

      /* width: clamp(40px, 1vw, 78px);
      height: clamp(40px, 1vw, 78px); */
      /* filter: drop-shadow(-12px 25px 15.4px rgba(0, 0, 0, 0.10)) !important; */
      /* box-shadow: -12px 25px 15px 0px rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: -12px 25px 15px 0px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow: -12px 25px 15px 0px rgba(0, 0, 0, 0.1) !important; */
    }
  }
}

._box p {
  color: #252f44;

  font-size: clamp(1rem, 0.9vw, 2rem);
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  text-align: start;
  /* 113.636% */
  text-transform: capitalize;
  /* padding-left: 10px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    overflow: visible;
    white-space: normal;
    z-index: 1;
    background-color: #fff;
    position: relative;
  }
}

._testimonial_container {
  @media (min-width: 768px) {
    margin-top: 8rem;
  }

  @media (min-width: 480px) and (max-width: 768px) {
    @media (min-height: 1050px) {
      margin-top: 8rem;
    }

    @media (min-height: 1000px) and (max-height: 1049px) {
      margin-top: 13rem;
    }

    @media (min-height: 950px) and (max-height: 999px) {
      margin-top: 16rem;
    }

    @media (min-height: 900px) and (max-height: 949px) {
      margin-top: 18rem;
    }

    @media (min-height: 850px) and (max-height: 899px) {
      margin-top: 22rem;
    }

    @media (min-height: 800px) and (max-height: 849px) {
      margin-top: 24rem;
    }

    @media (min-height: 750px) and (max-height: 799px) {
      margin-top: 28rem;
    }

    @media (min-height: 700px) and (max-height: 749px) {
      margin-top: 31rem;
    }

    @media (min-height: 650px) and (max-height: 699px) {
      margin-top: 33rem;
    }

    @media (max-height: 649px) {
      margin-top: 37rem;
    }
  }

  @media (max-width: 480px) {
    margin-top: 8rem;

    @media (min-height: 950px) {
      margin-top: 1rem;
    }

    @media (min-height: 900px) and (max-height: 949px) {
      margin-top: 3rem;
    }

    @media (min-height: 850px) and (max-height: 899px) {
      margin-top: 9rem;
    }

    @media (min-height: 800px) and (max-height: 849px) {
      margin-top: 11rem;
    }

    @media (min-height: 750px) and (max-height: 799px) {
      margin-top: 15rem;
    }

    @media (min-height: 700px) and (max-height: 749px) {
      margin-top: 19rem;
    }

    @media (min-height: 650px) and (max-height: 699px) {
      margin-top: 21rem;
    }

    @media (max-height: 649px) {
      margin-top: 23rem;
    }
  }

  width: 100%;
  display: flex;
  /* Allow items to wrap to the next line */
  /* Align items to the top of the container */
  position: relative;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

._testimonial_container p {
  color: #1a1b1a;
  text-align: center;


  /* font-size: clamp(1.5rem, 4vw, 5.625rem); */
  @media (min-width: 1200px) {
    font-size: clamp(1.5rem, 4vw, 5.625rem);
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    font-size: clamp(1rem, 3.5vw, 4.5rem);
  }

  @media (min-width: 576px) and (max-width: 768px) {
    font-size: clamp(1.3rem, 4.2vw, 5.2rem);
  }

  @media (max-width: 576px) {
    font-size: clamp(1rem, 5vw, 5rem);
  }

  font-style: normal;
  font-weight: 700;
  line-height: 121.147px;
  /* 137.194% */
  text-transform: capitalize;
}

.testo_ctr {
  width: 100%;
  height: 100%;
  min-height: 450px;
  display: flex;
  /* Allow items to wrap to the next line */
  /* Align items to the top of the container */
  position: relative;
  align-items: center;
  padding: 20px;
  background: url("../../assets/homepage_mats/testi_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: soft-light;
}

.swiper-wrapper {
  height: 100% !important;
}

.testo_left {
  width: 50%;
  height: 80%;
  /* background: url("../../assets/homepage_mats/map-3.png"), #69776f1a; */
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 6.3%;
}

.testo_right {
  width: 50%;
  height: 80%;
  background: url("../../assets/homepage_mats/map-3.png"), #028139;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: soft-light;
}

._socials_container {
  /* height: 60%; */
  width: 100%;
  display: flex;
  position: relative;
  padding: 5% 2%;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    margin-top: 8rem;
  }

  @media (min-width: 480px) and (max-width: 768px) {
    @media (min-height: 1050px) {
      margin-top: 8rem;
    }

    @media (min-height: 1000px) and (max-height: 1049px) {
      margin-top: 13rem;
    }

    @media (min-height: 950px) and (max-height: 999px) {
      margin-top: 16rem;
    }

    @media (min-height: 900px) and (max-height: 949px) {
      margin-top: 18rem;
    }

    @media (min-height: 850px) and (max-height: 899px) {
      margin-top: 22rem;
    }

    @media (min-height: 800px) and (max-height: 849px) {
      margin-top: 24rem;
    }

    @media (min-height: 750px) and (max-height: 799px) {
      margin-top: 28rem;
    }

    @media (min-height: 700px) and (max-height: 749px) {
      margin-top: 31rem;
    }

    @media (min-height: 650px) and (max-height: 699px) {
      margin-top: 33rem;
    }

    @media (max-height: 649px) {
      margin-top: 37rem;
    }
  }

  @media (max-width: 480px) {
    margin-top: 8rem;

    @media (min-height: 950px) {
      margin-top: 1rem;
    }

    @media (min-height: 900px) and (max-height: 949px) {
      margin-top: 3rem;
    }

    @media (min-height: 850px) and (max-height: 899px) {
      margin-top: 9rem;
    }

    @media (min-height: 800px) and (max-height: 849px) {
      margin-top: 11rem;
    }

    @media (min-height: 750px) and (max-height: 799px) {
      margin-top: 15rem;
    }

    @media (min-height: 700px) and (max-height: 749px) {
      margin-top: 19rem;
    }

    @media (min-height: 650px) and (max-height: 699px) {
      margin-top: 21rem;
    }

    @media (max-height: 649px) {
      margin-top: 23rem;
    }
  }
}

.socials_ctr {
  max-width: 1340px;
}

.join_flower_ctr {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flower_ctr {
  width: 50%;
  height: 100%;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: end;
}

._flower_box {
  /* width: 100%;
  height: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 350px;
  /* Adjust width as needed */
  height: 350px;
  /* Adjust height as needed */
  gap: 0.4rem;
}

.leaf {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#leaf1 {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  box-shadow: 24px 14px 46.8px 0px rgba(0, 0, 0, 0.2);
  /* z-index: -1; */
}

#leaf1 svg,
#leaf2 svg,
#leaf4 svg {
  height: 60%;
}

#leaf2 {
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 24px 14px 46.8px 0px rgba(0, 0, 0, 0.2);
}

#leaf3 {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  height: 100px;
  width: 100px;
  justify-self: self-end;
  background: #24BD66;
  box-shadow: 24px 14px 46.8px 0px rgba(0, 0, 0, 0.2);
}

#leaf4 {
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;

  box-shadow: 24px 14px 46.8px 0px rgba(0, 0, 0, 0.2);
}

.leaf_hover:hover {
  transform: scale(0.95);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.join_ctr {
  width: 40%;
  height: 100%;
  padding: 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.join_title {
  width: max-content;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;

  & svg {
    position: absolute;
    height: 100%;
    aspect-ratio: 1/2;
    z-index: -1;
    left: 5%;
    transform: translateX(-50%);
  }
}

.join_title span {
  color: #1a1b1a;
  justify-content: center;

  @media (min-width: 1200px) {
    font-size: clamp(1.5rem, 3.5vw, 4rem);
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    font-size: clamp(1rem, 3.5vw, 4.5rem);
  }

  @media (min-width: 576px) and (max-width: 768px) {
    font-size: clamp(1.3rem, 4.2vw, 5.2rem);
  }

  @media (max-width: 576px) {
    font-size: clamp(1rem, 5vw, 5rem);
  }

  font-style: normal;
  font-weight: 700;
  line-height: 121.147px;
  text-transform: capitalize;
  background-repeat: no-repeat;
  background-size: contain;
  width: max-content;
}

.join_ctr h5 {
  color: #69776f;
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 150% */
  text-transform: capitalize;
}

.join_ctr p {
  color: #a1a4a2;
  text-align: center;

  font-size: 12px;
  font-style: italic;
  font-weight: 700;
  line-height: 22px;
  /* 157.143% */
  text-transform: capitalize;
}

._contact_ctr {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, white 50%, #1a1b1a 50%);
}

/* .contact_ctr {
  max-width: 100%;
  height: 30%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
} */
._contact_box {
  height: 80%;
  width: 1340px;
  /* position: absolute; */
  /* top: 0%; */
  /* z-index: 99999999; */
  border-radius: 25px;
  background: #24BD66;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 5%;
}

._contact_box span {
  margin-top: 15px;
  color: #fff;
  text-align: center;

  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 62.778px;
  /* 137.194% */
  text-transform: uppercase;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 15px 0;
}

._contact_box button {
  color: #07b854;
  text-align: center;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 9.524px;
  /* 47.619% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
  background-color: white;
  margin-top: 1rem;
  width: 20%;
  height: 60px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.contact_inputs {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: relative;
}

.contact_fields {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.contact_fields input {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.09);
  padding: 14px;
  width: 100%;
}

.contact_fields input::placeholder {
  color: #fff;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  /* 206.25% */
  text-transform: capitalize;
  opacity: 0.85;
}

.message_field textarea {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.09);
  display: block;
  padding: 2rem 1.1rem;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

.message_field textarea::placeholder {
  color: #fff;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  /* 206.25% */
  text-transform: capitalize;
  opacity: 0.85;
}

@keyframes float {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@media (max-width: 768px) {
  ._search_container {
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
  }

  .search_ctr {
    flex-direction: column;
    width: 100%;
  }

  ._floating_img {
    position: relative;
  }

  .search_boxes {
    justify-content: center;
  }
}

@media (min-width: 1025px) and (max-width: 1500px) {
  ._home_text {
    margin-bottom: 5rem;
  }

  ._price_wrapper {
    /* height: 23%; */
  }

  ._search_container {
    /* height: 80%; */
  }

  /* .search_title h1 {
    font-size: 50px;
  }
  .search_title > h1 > span {
    font-size: 50px;
  } */
}

@media (max-width: 480px) {
  .wrapper_ctr {
    padding: 1rem 5vw;
  }

  ._home_img {
    align-items: flex-start;
    width: 80%;
  }

  ._home_text h1 {
    text-align: left;
    font-size: 30px;
  }

  ._home_text span {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  ._home_text>span>svg {
    width: 300px;
  }

  /* ._counter {
    display: none;
  } */
  .price {
    width: 25%;
  }

  .price_range {
    display: none;
  }

  ._price_wrapper {
    padding: 0 5vw;
    height: 8%;
  }

  ._filter {
    width: 41%;
    height: 100%;
  }

  .price input {
    display: flex;
    position: relative;
    height: 100%;
    width: 60%;
    padding: 10px 30px;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 80% */
    letter-spacing: 1.2px;
    text-transform: lowercase;
  }

  /* .card_ctr {
    padding: 0 5vw;
  } */

  .floating_boxes {
    height: 60%;
  }

  .img_ctr {
    order: 2;
    width: 100%;
    height: 100%;
    /* margin-top: 1rem; */
  }

  .testo_ctr {
    width: 100%;
    height: 100%;
    display: flex;
    /* Allow items to wrap to the next line */
    /* Align items to the top of the container */
    position: relative;
    align-items: center;
    padding: 20px;
    background: url("../../assets/homepage_mats/map-3.png"),
      linear-gradient(to right, white 50%, #028139 50%);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: soft-light;
  }



  ._floating_img {
    /* left: 50%; */
    /* transform: translateX(-50%); */
    height: 400px;
    padding: 0 0.3rem;
  }

  .search_title {
    background-position-x: 30px;
    text-align: center;
    padding: 0;
    width: 100%;
  }

  /* .search_title h1 {
    font-size: 26px;
  }
  .search_title > h1 > span {
    font-size: 30px;
  } */

  ._box {
    gap: 0;
    padding: 10px;
  }

  .testo_left {
    margin-top: 0;
  }

  ._socials_container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .join_flower_ctr {
    flex-direction: column;
  }

  .flower_ctr {
    width: 100%;
  }

  .join_ctr {
    width: 100%;
  }

  .join_title span {
    width: 100%;
    /* background-position-x: 26%; */
    /* background-position-x: center; */
    text-align: left;
  }

  .join_ctr h5 {
    text-align: left;
  }

  ._testimonial_container {
    /* height: 60%; */
    align-items: center;
  }

  ._contact_box {
    width: 100%;
  }

  ._contact_box button {
    height: 60px;
    width: 50%;
    margin-top: 1rem;
  }

  .contact_fields {
    flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  ._home_img {
    align-items: flex-start;
  }

  ._home_text h1 {
    text-align: left;
    font-size: 80px;
  }

  ._price_wrapper {
    padding: 2.5rem 0;
  }

  ._filter {
    width: 30%;
    left: 73%;
  }

  /* .search_title h1 {
    font-size: 60px;
  } */
  ._search_container {
    /* height: 100%; */
    width: 100%;
    flex-direction: column;
  }

  ._testimonial_container {
    /* height: 80%; */
  }

  .img_ctr {
    order: 1;
    width: 100%;
  }

  ._content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .join_flower_ctr {
    flex-direction: column;
  }

  .join_ctr,
  .flower_ctr {
    width: 100%;
  }

  ._contact_box {
    width: 100%;
  }

  ._contact_box button {
    width: 30%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  ._price_wrapper {
    padding: 2.5rem 10%;
  }

  ._filter {
    width: 20%;
    left: 70%;
  }

  ._floating_img {
    padding: 50px 0;
    width: 90%;
  }

  /* .join_title span {
    width: 43%;
  } */
  ._contact_box button {
    width: 30%;
  }
}

@media (min-width: 1501px) {
  ._search_container {
    /* height: 60%; */
  }

  ._testimonial_container {
    height: 60%;
  }
}