.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1111;
  position: relative;
}

.slider {
  position: relative;
  width: 200px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
}

.slider__range {
  background-color: #028139;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #1a1b1a;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 61.538% */
  letter-spacing: 2.86px;
  text-transform: uppercase;
  margin-top: 13px;
}

.slider__left-value {
  left: 6px;
  color: #1a1b1a;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 61.538% */
  letter-spacing: 2.86px;
  text-transform: uppercase;
}

.slider__right-value {
  right: -4px;
  color: #1a1b1a;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-strokeWidth: 1;
  -webkit-text-stroke-color: #000;
  font-family: "Helvetica Neue";
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 61.538% */
  letter-spacing: 2.86px;
  text-transform: uppercase;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
