._details_calendar.rmdp-wrapper {
  width: 100%;
  border-radius: 30px;
  border: 1px solid #dedede;
}
._details_calendar .rmdp-top-class {
  justify-content: center;
}
._details_calendar .rmdp-arrow-container {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  background: #69776f1a;
}

._details_calendar .rmdp-arrow-container .rmdp-arrow,
._details_calendar .rmdp-arrow-container:hover .rmdp-arrow {
  border: solid rgb(167, 167, 167);
  border-width: 0 2px 2px 0;
  display: inline-block;
  height: 3px;
  margin-top: 5px;
  padding: 2px;
  width: 3px;
}
._details_calendar .rmdp-header-values {
  color: #2d3136;
  text-align: center;
  font-family: "TT Commons", sans-serif;
  font-size: 18;
  font-style: normal;
  font-weight: 700;
  line-height: 40.419px; /* 150.75% */
  text-transform: capitalize;
}
._details_calendar .rmdp-week-day {
  color: #9f9f9f;
  text-align: center;
  font-family: "TT Commons", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 40.419px; /* 247.661% */
  text-transform: capitalize;
}
._details_calendar .sd {
  color: #2d3136;
  text-align: center;
  font-family: "TT Commons", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 40.419px; /* 192.626% */
  text-transform: capitalize;
}
._details_calendar .rmdp-day.rmdp-selected span:not(.highlight) {
  border-radius: 69.944px;
  background: var(
    --Linear,
    linear-gradient(315deg, #07d25f 20.24%, #028139 80.97%)
  );
}
._details_calendar .rmdp-day.rmdp-today span {
     border-radius: 69.944px;
  border: 1px dashed #028139;
  background-color: transparent;
  color: black;
}
._details_calendar .sd:hover {
    background: var(
    --Linear,
    linear-gradient(315deg, #07d25f 20.24%, #028139 80.97%)
  ) !important;
}
._details_calendar .rmdp-range {
   background: var(
    --Linear,
    linear-gradient(315deg, #07d25f 20.24%, #028139 80.97%)
  ) !important;
}
._details_calendar.rmdp-shadow {
  box-shadow: none !important;
}
@media (max-width: 768px) {
  ._calendar_ctr {
    display: flex;
    justify-content: center;
  }
  ._details_calendar.rmdp-wrapper {
    width: 70% !important;
  }
}