._footer {
  /* height: 60%; */
  width: 100%;
  background: #1a1b1a;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
._footer_items {
  width: 1440px;
  /* height: 30%; */
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
._footer_items_wrapper {
  width: 100%;
  display: flex;
  padding-bottom: 10px;
}
._item_1 {
  width: 33.33333333%;
}
._item_2 {
  width: 33.33333333%;
  display: flex;
  justify-content: center;
}
._item_3 {
  width: 33.33333333%;
  display: flex;
  justify-content: flex-end;
}
._item_2 ul,
._item_3 ul {
  color: #fff;
  text-align: center;
  
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 209.261% */
  text-transform: uppercase;
  text-align: left;
}
._item_2 ul li,
._item_3 ul li {
  position: relative;
  margin-left: 25px;
  color: #bebebe;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px; /* 241.667% */
  text-decoration-line: underline;
  list-style-type: circle !important;
  text-transform: capitalize;
}
._footer_img {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 1rem;
}
._footer_img img {
  width: 20%;
  object-fit: cover;
}
._item_1 p {
  color: #bebebe;
  
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 160% */
  text-transform: capitalize;
}
.footer_rights {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #028139;
  color: #028139;
  text-align: center;
  
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 123.077% */
  text-transform: capitalize;

  & p {
    margin-top: 1rem;
  }
}
@media (max-width: 480px) {
    ._footer {
      /* height: 110%; */
        /* margin-top: 80%; */
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
    }
    ._footer_items_wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    ._footer_items {
        height: auto;
        width: 100%;
    }
    ._item_1, ._item_2, ._item_3 {
        width: 100%;
        justify-content: center;
    }
    ._footer_img {
        align-items: center;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
 

 
}
