.customers_table {
  width: 100%;
  min-width: 800px;
}
.table__wrapper {
  width: 100%;
  max-height: 100%;
  /* overflow: auto; */
}
.customers_table tr {
  display: grid;
  /* grid: auto/200px 250px 1fr 1fr 1fr; */
  grid: auto/1fr 1fr 1fr 1fr;
  align-items: center;
}
.customers_table .table__header tr {
  border-radius: 50px !important;
  background: rgba(0, 0, 0, 0.44) !important;
  margin-bottom: 3px;
  color: #5d6377;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: small-caps;
  text-align: left;
}
.customers_table td {
  padding: 18px 15px;
}

.customer_slider {
  border: none;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 125px;
}

.slider-checkbox {
  display: none;
}

.slider-label {
  border-radius: 60px;
  border: 0.5px solid rgba(13, 178, 84, 0.72);
  cursor: pointer;
  display: block;
  overflow: hidden;
}

.slider-inner {
  display: block;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
  width: 200%;
}

.slider-inner:before,
.slider-inner:after {
  box-sizing: border-box;
  display: block;
  float: left;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 25px;
  line-height: 30px;
  padding: 0;
  width: 50%;
}

.slider-inner:before {
  background: linear-gradient(315deg, #07d25f 20.24%, #028139 80.97%);
  color: #fff;
  content: "ACTIVE";
  padding-left: 0.75em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slider-inner:after {
  background: rgba(27, 29, 35, 0.09);
  box-shadow: -5px -3px 9.4px 0px #262930 inset;
  color: #fff;
  content: "INACTIVE";
  padding-right: 0.75em;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.slider-circle {
  background: linear-gradient(315deg, #07d25f 20.24%, #028139 80.97%);
  border-radius: 50%;
  bottom: 0;
  display: block;
  margin: 5px;
  position: absolute;
  right: 91px;
  top: 0;
  transition: all 0.3s ease-in 0s;
  width: 17px;
}

.slider-checkbox:checked + .slider-label .slider-inner {
  margin-left: 0;
}

.slider-checkbox:checked + .slider-label .slider-circle {
  background: rgba(27, 29, 35, 0.8);

  box-shadow: -5px -3px 9.4px 0px #262930 inset;

  right: 0;
}

/* Modal content */
.delete-form h3 {
  color: #292a2d;
  text-align: center;
  font-family: "TT Commons", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.126px; /* 70.315% */
  text-transform: capitalize;
}

.customer-form-btn button {
  border-radius: 60px;
  border: 1px solid #0db254;
  background: #dedede;
  box-shadow: -5px -3px 9.4px 0px #fff inset;
  padding: 20px;
  color: #0db254;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.customer-form-btn #special-btn {
  border-radius: 60px;
  border: none;
  background: var(
    --Linear,
    linear-gradient(315deg, #07d25f 20.24%, #028139 80.97%)
  );
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
